header {
  margin: 20px;
  padding-left: 20px;
  font-size: 20px;
  color: #61626e; }

img {
  width: 1200px;
  margin-bottom: 0px; }

.answers {
  text-align: center;
  margin-top: 0;
  padding-bottom: 20px;
  background: #f0eff1; }

.answers span {
  font-size: 24px;
  font-family: 'PT Serif', serif;
  font-weight: normal;
  padding-left: 5px;
  padding-right: 5px;
  color: #61626e; }

.answers ul {
  list-style-type: none;
  margin: 0px; }

.answers li {
  text-align: center;
  border-bottom: 1px solid #ddd;
  line-height: 0;
  padding-top: 120px;
  position: relative;
  bottom: 50px; }

.answers li span {
  background-color: #f0eff1;
  padding: 0 15px; }

footer {
  text-align: center;
  color: #BAB4C0;
  background: #41424e;
  padding-top: 35px;
  padding-bottom: 10px; }
