header {
  margin: 20px;
  padding-left: 20px;
  font-size: 20px;
  color: #61626e; }

img {
  width: 1200px;
  margin-bottom: 0px; }

.answers {
  text-align: center;
  margin-top: 0;
  padding-bottom: 15px;
  background: #f0eff1; }

.answers span {
  font-size: 24px;
  font-family: 'PT Serif', serif;
  font-weight: normal;
  color: #61626e; }

.answers ul {
  list-style-type: none;
  margin: 0px; }

.answers li {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative; }

.answers li span {
  position: relative;
  z-index: 0; }

.answers li:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%; }

footer {
  text-align: center;
  color: #BAB4C0;
  background: #41424e;
  padding-top: 35px;
  padding-bottom: 10px; }
